*{margin: 0;padding: 0;}
html,body{height: 100%;}
body{
	width: 1920px;
	height: 1080px;
	box-sizing: border-box;
	background: url(../img/login-bg.png) no-repeat;
    background-size: cover;
    padding: 150px 360px;
}

.top{width: 100%;height: 40px;display: flex;margin-top: 10px;}
.top img{width: 60px;height: 38px;margin-right: 15px;}
.top span{display: block;line-height: 40px; font-size: 26px;color: #607d8b;border-right: 1px solid #a1b3bb;}
.top span:last-child{padding-left: 10px;border:none;}
